# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '13'
    - run: yarn
    - run: yarn build
    - uses: actions/upload-artifact@v1.0.0
      with:
        name: Build
        path: .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v1
        with: 
          name: Build
      - run: yarn test
        env:
          CI: true

